@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Balsamiq Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:0;
  background-color: #073B4C;
}
p,h1, h2, h3, h4, h5, h6 {
  color: white !important;
 }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#stage {
  width: 480px;
  height: 320px;
  position: relative;
  border: 2px solid black
}

.center {
  background-color:#073B4C !important;
  padding: 0;
  margin: auto;
  display: flex;
  height: 97%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
  border-style: solid;
  border-color:white;

}
.buttonGoogle > img{
height: 22px;
margin-right: 2px;
}
.centerContent {
  padding: 0;
  margin: auto;
  display: block;

}

.score {
  border-radius: 15px;
  border: solid;
  text-align: center;
  width: 160px;
  color:white;
  font-size: 20px;
}

#ui-looser { 
  z-index: 100;  
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor:none; 
  
}

#ui-layer { 
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor:none; 
  z-index: 40;
  border-radius: 15px;
  border:solid;
  border-color: white;
   }
#background-layer { 
z-index: 1;
margin: 0;
position: fixed;
}


.skin {
  cursor: pointer;


}

.skin-select {
  border: solid 5px;
  border-color: #0087ff;
  border-radius: 14px;
}

.rec.rec-arrow {
  background-color:none;
  color: white;
}